
{%extends 'index.html'%}

{%block content%}
<div class="container container-corpo">
  <form action="administrador">
  <h3 class="text-center mb-3">Usuários Registrados</h3>
  <div class="shadow">
      <table class="table text-center">
          <thead>
            <tr class="">
              <th scope="col">Nome</th>
              <th scope="col">Telefone</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for usuarios in lista_usuario %}
              <td scope="row">{{   usuarios.nome   }}</td>
              <td scope="row">{{   usuarios.telefone  }}</td>
              <td scope="row">{{   usuarios.email  }}</td>          
              <td>
                <form action="excluir_usuario" method="Post">
                  <input type="text" value="{{ usuarios.email}}" id="exclui_usuario" name="exclui_usuario" hidden>
                  <button type="submit" id="exclui_usuario" class="btn_excluir">
                    <span class="material-icons">delete</span>
                  </button>
                </form>  
              </td>         
            </tr>
               {% endfor %}
          </tbody> 
        </table>
  </div>
  </form>
</div>
{%endblock%}