{%extends 'index.html'%}

{%block content%}
  <form action="fotos">
    <div class="container mt-5 container_corpo">

      <div class="row mb-5 justify-content-between p-3">

        

          <div class="card mb-5" style="width: 18rem;">
              <img src="../static/img/society_quadra.jpg" class="card-img-top" alt="...">

                <div class="card-body">
                  <h5 class="card-title text-center">Quadra Gramada</h5>
                  <p class="card-text text-justify">Quadra com grama sitentica com iluminação em LED, tamanho 46x24.</p>
                </div>
          </div>
        
            <div class="card mb-5" style="width: 18rem;">
              <img src="../static/img/quadra-de-areia.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">Quadra de Areia</h5>
                <p class="card-text text-justify">Quadra de Areia, tamanho 20x15.</p>
              </div>
            </div>
          
            <div class="card mb-5" style="width: 18rem;">
              <img src="../static/img/salao_quadra.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">Quadra Salão</h5>
                <p class="card-text text-justify">Quadra Salão coberta com iluminação, tamanho 36x24.</p>
              </div>
            </div>
          
            <div class="card" style="width: 18rem;">
              <img src="../static/img/volei_quadra.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">Quadra Volêi</h5>
                <p class="card-text text-justify">Quadra de Volêi/Peteca, tamanho 18x9.</p>
              </div>
            </div>
          
            <div class="card" style="width: 18rem;">
              <img src="../static/img/espaco_kids.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">Espaço Kids</h5>
                <p class="card-text text-justify">Espaço kids com Brinquedos Novos, televisão, próximo da Lanchonete.</p>
              </div>
            </div>
          
            <div class="card" style="width: 18rem;">
              <img src="../static/img/lanchonete.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">Lanchonete</h5>
                <p class="card-text text-justify">Delicioso cardápio variado, bebidas geladas</p>
                <p class="text-center">Clique <a href="funcionamento">aqui</a> e veja nosso horário de funcionamento.</p></a>
              </div>
            </div>
        </div>
    </div>
  </form>
{%endblock%}
